<div class="jumbotron">
    <h1>Shopping Cart Kata</h1>

</div>
<section ng-controller="ProductsCntrl">

    <div class="row">
        <div ng-repeat="product in products" class="col-xs-12 col-md-6 col-lg-4">
            <strong>Product {{product.name}}</strong>
            <p>{{product.cost | currency}}</p>
            <p ng-show="product.discountQty > 0">If you order {{product.discountQty}} or more the price is {{product.discountCost | currency}} per item.</p>
            <p>
                Order Qty:  <select ng-change="addItem(product.id,product.cartItem)" ng-model="product.cartItem" ng-options="option for option in availableQty" class="form-control"></select>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <h2>Grand Total:</h2> {{totalCost | currency}}
        </div>
    </div>
</section>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Controllers/product-controller.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/services/data-service.js")"></script>
}